<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>

        <!-- Meta tags Obrigatórias -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <!-- Font Awsome -->
        <script src="https://kit.fontawesome.com/c770a83cab.js" crossorigin="anonymous"></script>
        <title>Home</title>
    </head>
<body style="background-color: whitesmoke;">


    <header>
        <div class="container">
            <nav class="navbar  row justify-content-start" style="background-color: #6D6D6D; border-radius: 0px 0px 10px 10px ;">
                <div class="col-md-4"><img src="../static/fotomilhas.png" width="100px" ></div>
                <div class="col-md-4 " style="text-align: center;"><h2>FICHA DE CADASTRO</h2></div>
                <div class="col-md-4" style="text-align: right;"><img src="../static/LogoUFSJ.png"  width="100px" ></div>
            </nav>
        </div>   
    </header>


    <section>
        <div class="container">
            
                <form class="row " method="post" onsubmit="return confirm('Seu formulario foi enviado com sucesso!')">

                <!-- local  para carregar a foto do membro -->
                <div class=" col-md-6" style="text-align: center;" method="post">
                    <!-- <form method="post"> -->
                        {% csrf_token %}
                        <h3 class="mt-4 mb-5" for="foto">Coloque uma foto do membro</h3>
                        <input type="file" class="form-control-file  btn btn-light" id="foto" name="foto">

                        <!-- pode ter certificado? -->
                        <div class="col-md-12  row mt-5" style="margin: 10px; text-align: left;">
                            <h5 class="col-md-4  mt-1" for="certificado">Certificado?</h5>
                            <div class="col-md-8"><input maxlength="3" class="form-control" name="certificado" type="text" id="certificado" placeholder="Sim/Não"  required></div>
                        </div>
                    <!-- </form> -->
                    <br><br><br><br><br><br><br><hr>
                    <a class="btn btn-danger" value="enviar formulario" href="{% url 'capitania' %}"> Acessar área administrativa</a>
                </div>




                <div class="col-md-6  container"> 
                      
                        {% csrf_token %}

                        <!-- campo que coloca o nome bem aqui -->
                        <div class="col-md-12  row" style="margin: 10px;">
                            <h5 class="col-md-4  mt-1" for="nome">Nome</h5>
                            <div class="col-md-8"><input maxlength="150" class="form-control" name="nome" type="text" id="nome"  required></div>
                        </div>

                        

                        <!-- data de nascimento -->
                        <div class="col-md-12  row" style="margin: 10px;">
                            <h5 class="col-md-4  mt-1" for="data">Nascimento</h5>
                            <div class="col-md-8"><input class="form-control" name="data" type="date" id="data"required></div>
                        </div>

                        <!-- campo do curso/ setor -->
                        <div class="col-md-12  row" style="margin: 10px;">
                            <h5 class="col-md-4  mt-1" for="curso">Curso/Setor</h5>
                            <div class="col-md-8"><input maxlength="150" class="form-control" name="curso" type="text" id="curso" required></div>
                        </div>

                        <!-- matricula do membro -->
                        <div class="col-md-12  row" style="margin: 10px;">
                            <h5 class="col-md-4  mt-1" for="matricula">Matrícula</h5>
                            <div class="col-md-8"><input maxlength="12" class="form-control" name="matricula" type="text" id="matricula" required></div>
                        </div>

                        <!-- email do membro cadastrado -->
                        <div class="col-md-12  row" style="margin: 10px;">
                            <h5 class="col-md-4  mt-1" for="email">Email</h5>
                            <div class="col-md-8"><input maxlength="150" class="form-control" name="email" type="email" id="email" required></div>
                        </div>

                        <!-- quando entrou no milhas -->
                        <div class="col-md-12  row" style="margin: 10px;">
                            <h5 class="col-md-4  mt-1" for="entrada">Data entrada</h5>
                            <div class="col-md-8"><input class="form-control" name="entrada" type="date" id="entrada"required></div>
                        </div>

                        <!-- quando saiu  -->
                        <div class="col-md-12  row" style="margin: 10px;">
                            <h5 class="col-md-4  mt-1" for="saida">Data saída</h5>
                            <div class="col-md-8"><input class="form-control" name="saida" type="date" id="saida"required></div>
                        </div>

                        <!-- pontos tomados -->
                        <div class="col-md-12  row" style="margin: 10px;">
                            <h5 class="col-md-4  mt-1" for="pontos">Pontos</h5>
                            <div class="col-md-8"><input maxlength="2" class="form-control" name="pontos" type="text" id="pontos"required></div>
                        </div>

                        <!-- cargos -->
                        <div class="col-md-12 form-group row" style="margin: 10px;">
                            <h5 class="col-md-4  mt-1" for="cargo">Cargo</h5>
                            <div class="col-md-8"><input maxlength="100" class="form-control" name="cargo" type="text" id="cargo"required></div>
                        </div>

                        <!-- informacoes gerais -->
                        <div class="col-md-12  row" style="margin: 10px;">
                            <h5 class="col-md-4  mt-1" for="cargo">info gerais</h5>
                            <div class="col-md-8"><textarea maxlength="300" class="form-control" name="geral" type="textarea" id="geral"required></textarea></div>
                        </div>

                        


                        <!-- botao que envia formulario para o BD -->
                        <div class="col-md-12 mb-3 mt-2" style="text-align: center;"><button type="submit" class="btn btn-danger" value="enviar formulario">enviar formulario</div>
                    
                </div>
            </form>
            
        </div>
    </section>





</body>
</html>